.bar{
    width: 100%;height: 70px;border: 1px black solid;display: flex;
    justify-content: space-between;
    
}
.imgg{
    width: 96px;height: 21px;margin: 20px 0 0 20px;
}
.menu1 ul{
    margin: 0;padding: 0;list-style: none;display: flex;border: 1px black solid;margin: 0 110px 0 0;
}
.menu1 ul li{
    padding-left: 24px;
    

}


@media(max-width: 700px) {

.menu1 ul{
    display: none;
}

}

 